#map .maplibregl-ctrl-group {
  color: #333;
}

#map .maplibregl-ctrl-group button {
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: #fff;
  color: #333;
  font-size: inherit;
  font-weight: normal;
}

#map .maplibregl-popup-content {
  color: #333;
  background-color: #fff;
}

#map .maplibregl-popup-content h1 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px 0;
}
