asgiref==3.8.1
coordo @ git+https://github.com/dataforgoodfr/Coordonnees.git@745ae4be1a54b2912382da55940c06a7112612a3#subdirectory=coordo-py
Django==4.2.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
docutils==0.22
whitenoise[brotli]==6.12.0
