/**
 * GLOBALS.CSS
 * 
 * Responsabilité :
 * - Styles HTML de base (body, headings, links, etc.)
 * 
 * ℹ️ Utilise les variables CSS de all4trees.css et index.css
 */


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  background-color: var(--foreground);
  font-family: var(--font-body-primary);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--secondary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--foreground);
  border-color: var(--border);
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--secondary);
}