@import "./all4trees.css";
@reference "tailwindcss";


body {
    background-color: var(--color-bg-color);
    color: var(--color-primary);
    font-family: var(--font-body-primary);
}

@layer base {
    html {
        @apply dark:brightness-90;
    }

    body {
        @apply bg-gray-900 text-white antialiased;
    }

    /* Focus styles globaux */
    *:focus {
        @apply outline-none;
    }
}