/**
 * GLOBALS.CSS
 * 
 * Responsabilité : 
 * - Styles appliqués sur les balises html de base: html, body, ...
 *
 * ℹ️ Il est possible d'utiliser des variables css
 * ⚠️ Il n'est pas possible d'utiliser des classes tailwind avec `@apply`
 * ⚠️ Ajouter la customisation à la layer components, de sorte à pouvoir override dans le code (layer utilies)
 */

@layer components {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;

    font-family:
      var(--font-body-primary), var(--font-title-primary),
      var(--font-body-secondary), var(--font-title-secondary), system-ui,
      sans-serif;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: var(--text-base);
  }
}
